WGOLD_DEPLOYER_PRIVATE_KEY=
ARBITRUM_SEPOLIA_RPC_URL=
CHAINLINK_FUNCTIONS_ROUTER=
CHAINLINK_DON_ID=
CHAINLINK_SUBSCRIPTION_ID=
CHAINLINK_XAU_USD_FEED=
CHAINLINK_LINK_TOKEN=
WGOLD_OWNER=
WGOLD_MANNA_TREASURY=
WGOLD_REPUTATION_ENDPOINT=
CHAINLINK_GATEWAY_URLS=
CHAINLINK_SECRETS_SLOT_ID=
CHAINLINK_SECRETS_EXPIRATION_MINUTES=
