WGOLD_DEPLOYER_PRIVATE_KEY=
ARBITRUM_SEPOLIA_RPC_URL=
CHAINLINK_FUNCTIONS_ROUTER=
CHAINLINK_CCIP_ROUTER=
CHAINLINK_DON_ID=
CHAINLINK_SUBSCRIPTION_ID=
CHAINLINK_XAU_USD_FEED=
CHAINLINK_LINK_TOKEN=
CHAINLINK_AUTOMATION_REGISTRAR=
CHAINLINK_AUTOMATION_REGISTRY=
CHAINLINK_UPKEEP_GAS_LIMIT=
CHAINLINK_UPKEEP_LINK_FUNDING=
CHAINLINK_UPKEEP_NAME=
WGOLD_OWNER=
WGOLD_MANNA_TREASURY=
WGOLD_REPUTATION_ENDPOINT=
WGOLD_REPUTATION_ORACLE=
WGOLD_POLICY_CONTROLLER=
WGOLD_POLICY_ENDPOINT=
WISEGOLD_ORACLE_API_KEY=
CHAINLINK_GATEWAY_URLS=
CHAINLINK_SECRETS_SLOT_ID=
CHAINLINK_SECRETS_EXPIRATION_MINUTES=
