@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .touch-manipulation {
    touch-action: manipulation;
  }

  @media (min-width: 475px) {
    .xs\:inline {
      display: inline;
    }
  }
}
